
.nav-item {
  margin-left: 3px;
}

.navbar {
  margin-bottom: 50px;
}

#userLink {
  color: black;
}

#createLink {
  color: black;
} 

#logoutLink {
  color: black;
}

#title {
  font-size: 300%;
  font-family: "lobster";
}