
.nav-item {
  margin-left: 3px;
}

#header {
  margin-bottom: 50px;
}

#userLink {
  color: black;
}

#createLink {
  color: black;
} 

#logoutLink {
  color: black;
}

#title {
  font-size: 300%;
  font-family: "lobster";
}

.footer {
  margin-top: 30px;
  text-align: center;
  align-content: center;
  
}

#footText {
  font-family: "comic sans ms"
}

#footer {
  display: inline-block;
  width: 100%;
}