
#header {
  height: 150px;
}

.nav-link {
  color: seashell;
  font-family: "comic sans ms";
}

#title {
  font-family: "comic sans ms";
  font-size: 250%;
  margin-left: 10%;
}

#header{
  /* margin-left: 10%; */
}